body{
    margin: 0px;
    background-color: white;
    
}
#container{
    height: 2100px;
    width: 1347px;
    border: 1px solid white;
    background-color:lightsteelblue;
    
}
#head{
    height: 400px;
    width: 1200px;
    border: 1px solid white;
    margin: 40px 45px -40px 75px;
    
    
    
}
#nasa{
    position: relative;
    z-index: 1;
}



#sidebar{
    height: 1675px;
    width: 1000px;
    /* border: 1px solid black; */
    float: right;
    margin-left: 175px;
    background-color: whitesmoke;  
    position: absolute;
    z-index: 2;
    box-shadow: 30px 10px 10px grey;
    text-align: center;
    font-size: 20px;
}

.text{
    width: 700px;
    margin: auto;
}
    
