body{
    margin: 0px;
    background-color: lightgray;
    
}
#container{
    height: 1350px;
    width: 1200px;
    border: 1px solid white;
    background-color: white;
    margin: 50px 80px 50px 80px;   
}
#head{
    height: 350px;
    width: 1100px;
    /* border: 1px solid black; */
    margin: 40px 45px -40px 45px;
    box-shadow: 20px 20px 20px grey;
}

#jk{
    position: relative;
    z-index: 1;
}
#textcontent{
    height: 870px;
    width: 750px;
    /* border: 1px solid black; */
    margin: 80px 10px 30px 40px;
    float: left;
    padding: 10px 20px 10px 20px;
    font-size: 22px;
    position: absolute;

}
#sidebar{
    height: 973px;
    width: 250px;
    /* border: 1px solid black; */
    float: right;
    margin-right: 70px;
    background-color: lightgray;  
    position: absolute;
    z-index: 2;
    margin-left: 860px;
    box-shadow: 18px 18px 18px grey;
}
